<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLab1">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <!--
component, 개발자가 만드는 클래스 => 런타임 시점에 시스템에 의해 라이프사이클 관리
런타임시점에 안드로이드 시스템은 AndroidManifest 만 보고 움직인다..
==>컴포턴트 클래스를 만들었다면 시스템에 등록해야한다. AndroidManifest.xml 에 등록해야 한다..
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!--     생략 가능한데.. 아래처럼 등록되었다면.. 이 액티비티가 유저 아이콘 클릭시에 실행되는 액티비티라는 등록이다. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>